<div class="shadow-lg" style="margin-top: 25px; margin-left: 20px;">
    <div id="ldapTree"></div>
</div>
<script type="text/javascript">
    function getObject(object_dn) {
        $.get(
            "/get?dn=" + object_dn,
            function (data, status) {
                console.log('Data DN is ' + data.dn);
                console.log('Data Attributes is ' + data.attributes);
                // console.log('Status should be success');
                if(data.dn == undefined) {
                    // console.log('Status is ' + status);
                    $("#notification").toast("show");
                    return false;
                };
                $("#objectName").text(data.dn.split(",")[0].split("=")[1]);
                $("#objectDn").text('Distinguished Name: ' + data.dn);
                $("#objectAttributes").text('');
                for (var key in data.attributes) {
                    console.log(key);
                    console.log(data.attributes[key]);
                    $("#objectAttributes").append(
                        '<div class="form-group row">' +
                        '  <label for="' + key + '" class="col-form-label col-sm-2">' + key + '</label>' +
                        '  <input type="text" class="form-control col-sm-8" id="' + key + '" value="' + data.attributes[key] + '">' +
                        '</div>'
                    );
                };
            }
        );
        return true;
    };
    $(document).ready(function () {
        if (document.getElementById("logout")) {
            $.get("/tree",
                function (data) {
                    $("#ldapTree").treeview({
                        data: data,
                        enableLinks: true,
                        showBorder: false,
                        showTags: true,
                    });
                    var obj_dn = data[0].href.split('"')[1];
                    getObject(object_dn = obj_dn);
                }
            )
        };
    });
</script>