<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
    <a class="navbar-brand col-8" href="/">
        <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Simple LDAP Admin Desk
    </a>
    <div class="col-4" style="min-width: 400px;">
        <div class="row">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" disabled>Search</button>
            </form>
        </div>
    </div>
</nav>