<div id="main" class="card bg-light mb-3 shadow-lg" style="font-size: 14px; margin-top: 25px;">
    <div class="card-header text-center">
        <h4 class="text-primary" id="objectName"></h4>
        <span class="text-secondary" id="objectDn">Distinguished Name: </span>
    </div>
    <div class="card-body" style="min-height: 280px;">
        <form id="objectAttributes" style="padding: 25px;"></form>
    </div>
    <div class="card-footer">
        <div class="row" style="padding-left: 20px; padding-right: 20px;">
            <div class="col">
                <button class="btn btn-primary btn-sm">Update Object</button>
                <button class="btn btn-success btn-sm">Add Attribute</button>
            </div>
            <div class="col text-right">
                <button class="btn btn-danger btn-sm">Delete Object</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>