<div id="main" class="card bg-light mb-3 shadow-lg" style="margin-top: 25px;">
    <div id="objectDn" class="card-header">DN</div>
    <div id="objectAttributes" class="card-body">
<!--        <h5 class="card-title">Light card title</h5>-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--            card's content.</p>-->
        <form>

        </form>
    </div>
    <div class="card-footer">
    </div>
</div>
<script type="text/javascript">
<!--    $(#).click-->
<!--    function getDetail(){-->
<!--        $.get({-->
<!--            url: ""-->
<!--        });-->
<!--    }-->
</script>